body {
    font-family: 'Roboto', sans-serif;
    
    font-size: 16px;
    color: #f8f9fa;
    background-color: transparent;
    
}

.stretched-link {
    color: #515237;
    text-decoration: none;
}

.stretched-link:hover {
    color: hsl(323, 100%, 40%);
    text-decoration: underline;
}

.blog-title {
    color: #383330;
    /* Replace with any color you want */
    font-weight: bold;
    /* optional */
}

.category-heading {
    color: #28a745;
    /* any color you want */
    font-weight: 600;
}

.excerpt-text {
    color: #0a6b72;
    /* Replace with your preferred color */
    font-size: 1rem;
    /* Optional: adjust font size */
}